@keyframes scale-up {
  from {
    background-color: lightcoral;
    transform: scaleX(0);
  }
  to {
    background-color: darkmagenta;
    transform: scaleX(1);
  }
}

#progressbar {
  width: 100%;
  height: 20px;
  animation: 2s linear forwards scale-up;
  transform-origin: 0% 0%;
}